.card-container {
  position: relative;
  display: flex;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
    width: 100%;
    max-width: 360px;
    color: #FAFAFAFF;
    border-radius: 15px;
    padding: 15px;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 100px 0px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.small {
      height: auto;
      box-shadow: none;

      .duo {
        align-items: center;

        .card-number {
          font-size: 18px;
          font-weight: normal;
        }

        .card-holder-name {
          font-size: 12px;
        }
      }

    }

    &:hover {
      backdrop-filter: blur(100px);
    }

    .card-type {
      font-size: 22px;
    }

    .card-number {
      font-size: 22px;
      font-weight: 600;
    }

    .duo {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .card-holder-name {
      font-size: 16px;
    }

    .card-provider-logo {
      img {
        width: 80px;
      }
    }

    .new-card-text {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      padding: 10px;
      color: #FAFAFAFF;
      background: var(--sixth)
    }
  }
}
