<div class="card-container">
  <div class="card" [style.background]="cardColor">
    <div class="card-type">{{cardType.charAt(0).toUpperCase() + cardType.slice(1).toLowerCase()}}</div>
    <div>
      <div class="duo">
        <div>
          <div class="card-number">**** {{cardNumber}}</div>
          <div class="card-holder-name">{{cardHolderName}}</div>
        </div>
        <div class="card-provider-logo">
          <img *ngIf="cardProvider === 'masterCard'" src="assets/logo/mastercard_logo.png" alt="MasterCard" />
          <img *ngIf="cardProvider === 'visa'" src="assets/logo/visa_logo.png" alt="Visa" />
        </div>
      </div>
    </div>
  </div>
</div>
