<div class="nav-bar-container">
  <div class="nav-bar">
    <i [routerLink]="'/home'" [class]="currentUrl === '/home' ? 'selected fa-solid fa-gauge-high' : 'fa-solid fa-gauge-high'"></i>
    <i class="fa-solid fa-wallet"></i>
    <i></i>
    <div (click)="openAddTransactionMenu()" class="add-button">
      <i class="plus-icon fa-solid fa-circle-plus"></i>
    </div>
    <i class="fa-solid fa-chart-simple"></i>
    <i [routerLink]="'/settings'" [class]=" currentUrl === '/settings' ? 'selected fa-solid fa-gear' : 'fa-solid fa-gear'"></i>
  </div>
</div>
<app-bottom-sheet *ngIf="isBottomSheetOpen" [actionButtons]="true" [id]="'transaction'" (isOpen)="openAddTransactionMenu()">
  <div title>
    <div class="custom-select-wrapper">
      <select [(ngModel)]="selectedTransactionType"  (change)="onSelectTransactionTypeChange($event)" class="custom-select-box">
        <option value="0">Dépense</option>
        <option value="1">Dépot</option>
        <option value="investment">Placement</option>
      </select>
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
  <div content>
    <app-transaction [transactionType]="selectedTransactionType"></app-transaction>
  </div>
</app-bottom-sheet>
