:root {

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: auto;

  .light-theme {
    --primary: #FAFAFA;
    --secondary: #EEEEEE;
    --tertiary: #BEBEBE;
    --fourth: #555664;
    --fifth: #15064C;
    --sixth: #010317;
    --seventh: #000000;
    --shade: linear-gradient(#D9D9D9, #D9D9D9, #B0B0B0);
    background-color: var(--primary);
    height: 100%;
  }

  .dark-theme {
    --primary: #010317;
    --secondary: #1B1D33;
    --tertiary: #686A84;
    --fourth: #B2B3BD;
    --fifth: #EEEEEE;
    --sixth: #EEEEEE;
    --seventh: #FFFFFF;
    --shade: linear-gradient(#686A84, #686A84, #1B1D33);
    background-color: var(--primary);
    height: 100%;
  }

  --neutral: #636363;
  --success: #42B154;
  --warning: #FF9900;
  --danger: #820000;
}
